.row
    .col-12.text-center
        span.font-14.color-gris
            | Tus datos están seguros con SIMDATAGROUP.
            br
            | Este correo esta automatizado y no es atendido por una persona.
            br
            | Equipo de SIMDATAGROUP.
            br
            | Todos los derechos reservados #{new Date().getFullYear()} &reg;